# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/

# Python venv
agnn_env/

# Datasets / logs / checkpoints
datasets/
experiments/
*.pth
*.pt

# Environment files
.env

# ignore eval subrepo, outputs and logs
davis2017-evaluation/

# ignore eval subrepo, outputs and logs
davis2017-evaluation/
outputs/
runs/
